# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include /assets/2d_regular_polygons/* for download from the asset store.
*                                  export-ignore

/addons                           -export-ignore
/addons/2d_regular_polygons    -export-ignore
/addons/2d_regular_polygons/** -export-ignore
